#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
}

body {
  @apply bg-baby-gradient min-h-screen;
}

.loader-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100vh;
}

.loader-dots span {
  width: 12px;
  height: 12px;
  background: linear-gradient(to right, #f472b6, #c084fc); /* ורוד-סגלגל */
  border-radius: 50%;
  animation: bounce 0.6s infinite ease-in-out;
}

.loader-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
}
